@tailwind base;
@tailwind components;
@tailwind utilities;

.titulo-form-register{
    color: #324fba;
}

.contenedor-form-registro{
    border-radius: 10px;
    border: 1px solid black;
}

.boton-form-register{
    background-color: #324fba;
    color: #d1d5db;
    border: 1px solid rgb(46, 23, 224);
    padding: 10px;
    border-radius: 2px;
    margin: 0px 140px;
}

.boton-form-register:hover{
    background-color: #ffffff;
    color: #324fba;
    cursor: pointer;
}

.input-form-registro:hover{
    background-color: rgb(216, 215, 213);
}